
button.google {
    border: none;
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_normal_web.png" ) 0 0;
    width: 191px;
    height:46px;

    font-size: 0px;
    line-height: 0;
    display: block;
}

button.google:focus {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_focus_web.png" ) 0 0;
}

button.google:disabled {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_disabled_web.png" ) 0 0;
}

button.google:active {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_pressed_web.png" ) 0 0;
}

.hasBorder{
    border:1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 10px;
}

.centralPane {
    width: 800px;
    margin: 0px auto;
}

.inline {
    display: inline-block;
}