<!DOCTYPE html>
<html lang="en" ng-app="oAuthClient">
<head>
    <meta charset="UTF-8">
    <title>Outh Client Example</title>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/rx/dist/rx.all.js"></script>

    <script src="js/app.js"></script>

</head>
<body>

<div ng-controller="googleController as controller">

    <H2>Google</H2>

    <button
            class="google"
            ng-click="controller.authenticate()"
            ng-disabled="!controller.signInEnabled"
    ></button>

    <div ng-if="controller.message">{{controller.message}}</div>

    <H3>Token Info:</H3>

    <div>
        <textarea
                rows="5" cols="100"
                disabled>{{controller.tokenInfoOutput}}</textarea>
    </div>
    <div>
        <button ng-click="controller.getTokenInfo()">Refresh</button>
    </div>

    <H3>User Info:</H3>
    <div>
        <textarea
                rows="3" cols="100"
                disabled>{{controller.userInfoOutput}}</textarea>
    </div>

    <div>
        <img
                width="150"
                height="150"
                ng-if="controller.profilePicUrl"
                src="{{controller.profilePicUrl}}"
        />


        <button ng-click="controller.getUserInfo()">Refresh</button>
    </div>

</div>

</body>
</html>